* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a6acaf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  display: flex;
}

header {
  background: white;
  width: 100%;
  height: 60px;
}

/* ----------Header Content------------ */

.container {
  background: #c39bd3;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  /* background-color: white; */
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.dev-logo {
  width: 50px;
  height: 50px;
  color: white;
}

input {
  margin-left: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  width: 420px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
}

.header-right {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 16px;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}

.new-post {
  width: 120px;
  height: 40px;
  background-color: #3b49df;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.new-post:hover {
  background-color: #323ebe;
}

.header-right-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  color: black;
}

/* ----------Grid Layout------------ */

.wrapper {
  background-color: red;
  display: grid;
  grid-template-columns: 240px 650px 325px;
  gap: 16px;
  grid-auto-rows: minmax(10px, auto);
  color: #444;
  margin-left: 120px;
  margin-right: 120px;
  padding: 16px;
}

.one {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  gap: 10px;
}
.two {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  grid-column: 2;
  grid-row: 1;
}
.three {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  grid-column: 3;
  grid-row: 1;
}

/* ----------Sidebar Profile Content------------ */

.sidebar-profile {
  background: seagreen;
  padding: 8px;
  border-radius: 5px;
}

.sidebar-profile img {
  background: seagreen;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidebar-profile-details {
  /* background: royalblue; */
  padding-left: 8px;
}

.sidebar-profile:hover {
  background: plum;
}

/*--------------------Sİdebar Content-------------*/

.sidebar-content {
  background: cyan;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.sidebar-content-svg {
  /* background: cyan; */
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sidebar-content-rl {
  background: rebeccapurple;
  color: white;
  margin-left: auto;
  padding: 4px;
  border-radius: 5px;
}

.sidebar-content:hover {
  background: plum;
}
