* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef0f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background: white;
  width: 100%;
  height: 60px;
}

input {
  margin-left: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  width: 420px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* ----------Header Content------------ */

.container {
  background: white;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  /* background-color: white; */
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.dev-logo {
  width: 50px;
  height: 50px;
  color: white;
}

.header-right {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 16px;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}

.new-post {
  width: 120px;
  height: 40px;
  background-color: #3b49df;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.new-post:hover {
  background-color: #323ebe;
}

.header-right-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  color: black;
}

/* ----------Grid Layout------------ */

.wrapper {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 240px 650px 325px;
  gap: 16px;
  grid-auto-rows: minmax(10px, auto);
  color: #444;
  margin-left: 120px;
  margin-right: 120px;
  padding: 16px;
}

.one {
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  gap: 10px;
}
.two {
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 1;
}
.three {
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  grid-column: 3;
  grid-row: 1;
}

/* ----------Sidebar Profile Content------------ */

.sidebar-profile {
  display: flex;
  color: black;
  padding: 8px;
  border-radius: 5px;
  /* border: 1px solid #424949; */
}

.sidebar-profile img {
  background: seagreen;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sidebar-profile-details {
  /* background: royalblue; */
  padding-left: 8px;
}

.sidebar-profile:hover {
  /* border: 1px solid #bdc3c7; */
  background: #bdc3c7;
  color: #3b49df;
}

.hr {
  border-bottom: 1px solid #424949;
}

/*--------------------Sidebar Content-------------*/

.sidebar-content-div {
  /* border: 1px solid #424949; */
  border-radius: 5px;
}

.sidebar-content {
  color: black;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.sidebar-content-svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sidebar-content-rl {
  background-color: #bdc3c7;
  color: black;
  margin-left: auto;
  padding: 4px;
  border-radius: 5px;
}

.sidebar-content:hover {
  border: none;
  background: #bdc3c7;
  color: #3b49df;
}

/* */

.my-tags {
  color: black;
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
  opacity: 1;
}

.btn-follow {
  background: red;
  border: none;
  outline: none;
  padding: 5px;
  margin-left: auto;
}

/*------------Scrollbar-------------------*/

.scrollStyle {
  width: 100%;
  height: 45%;
  overflow: auto;
}

.other-tags {
  border-top: 2px solid #3b49df;
}

.feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.feed-bar {
  background-color: #eef0f1;
  color: black;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  position: relative;
}

.feed-bar.active {
  background-color: #aed6f1;
  border-bottom: 3px solid red;
}

.feed-bar:hover {
  background-color: #aed6f1;
  color: #3b49df;
  content: "";
  width: 100%;
  /* bottom: 10px; */
  border-bottom: 3px solid red;
}

/*-------------card part-------------*/

.card {
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
}

.card-cover-img {
  width: 650px;
  border-radius: 5px;
}

.card-inside {
  color: black;
  padding: 16px;
}

.card-profile {
  color: black;

  display: flex;
  align-items: center;
}

.card-profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.card-profile-name {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.card-profile-date {
  font-size: 12px;
}

.card-desc-info {
  padding-left: 40px;
  color: black;
}

.card-description {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.card-description:hover {
  color: #323ebe;
}

.card-tag {
  color: black;
}

.card-tag span {
  padding: 4px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  margin-top: 8px;
}

.card-react {
  display: flex;
}

.card-react-link {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  color: black;
}

.card-react-link:hover {
  background-color: #d7dbdd;
  border-radius: 5px;
}

.card-react-icons {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.card-buttom-right {
  display: flex;
  align-items: center;
}

.card-bottom-sm {
  margin-right: 8px;
}

.card-bottom-btn {
  padding: 8px 12px;
  border: none;
  background-color: #d7dbdd;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.card-bottom-btn:hover {
  background-color: #bdc3c7;
  color: black;
}
